* {
	font-family: arial;
	text-decoration: none;
	background-color: #161b1d;
	color: #4d5d66;
}

.button {
	cursor: pointer;
	background-color: #161b1d;
	box-shadow: 0px 6px 10px 3px black;
    text-decoration: none;
}

.button:hover {
	background-color: #21282c;
	color: #0b0d0f;
}
